<div class="container-fluid card colordefondo">
  <h2 class="letraParaNegra">
      Acerca de
  </h2>

  <div class="contenedor_alado colordefondo">
    <h6 class="letraParaNegra">
        Estudiante de Analista de Sistemas en IPET 1308, autodidacta, software developer
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure odit ad dolorem sapiente fuga eius facilis! Libero at, quisquam nihil mollitia, asperiores accusantium vero debitis dolore iste tempora ad nemo.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti iste, atque autem ipsam tenetur consectetur quas. Error reiciendis natus provident sint perferendis delectus et excepturi quidem asperiores ad. Delectus, corporis!
    </h6>
  </div>
</div>

<br>