<div class="container-fluid card colordefondo">
    <h2 class="letraParaNegra">
        Experiencia
    </h2>
    <div class="contenedor_alado colordefondo">
    <div class="card colordefondo" style="width: 18rem;">
        <img src="https://raw.githubusercontent.com/Zimmer95/PortfolioFrontend/18aec0bc1ecdf3554dbd1521b290e09ef10f3835/portfolio/img/imagenCrediser.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title letraParaNegra">Crediser Argentina SA</h5>
          <p class="card-text letraParaNegra">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary letraParaNegra">Go somewhere</a>
        </div>
      </div>
      <div class="card colordefondo" style="width: 18rem;">
        <img src="https://github.com/Zimmer95/PortfolioFrontend/blob/main/portfolio/img/imagenGampel2.jpg?raw=true" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title letraParaNegra">Gampel Comunicaciones SRL</h5>
          <p class="card-text letraParaNegra">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary letraParaNegra">Go somewhere</a>
        </div>
      </div>
      <div class="card colordefondo" style="width: 18rem;">
        <img src="https://github.com/Zimmer95/PortfolioFrontend/blob/main/portfolio/img/imagenCoder2.jpg?raw=true" class="card-img-top" alt="...">
        <div class="card-body ">
          <h5 class="card-title letraParaNegra">Card title</h5>
          <p class="card-text letraParaNegra">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary letraParaNegra">Go somewhere</a>
        </div>
      </div>
      <div class="card colordefondo" style="width: 18rem;">
        <img src="https://github.com/Zimmer95/PortfolioFrontend/blob/main/portfolio/img/argentinaPrograma.png?raw=true" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title letraParaNegra">Card title</h5>
          <p class="card-text letraParaNegra">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary letraParaNegra">Go somewhere</a>
        </div>
      </div>

    </div>
    
</div>
<br>
<br>
