
<div class="position-relative">
  <div>
  <img
  src="https://github.com/Zimmer95/PortfolioFrontend/blob/main/portfolio/img/imagenPortada.jpg?raw=true" 
  alt="portada/banner" width="5000" height="210">
  </div>
<span class="position-absolute posicionPerfil">
  <img class="rounded-circle" width="150" height="150" src="https://github.com/Zimmer95/PortfolioFrontend/blob/main/portfolio/img/FotoPerfil.jpg?raw=true" alt="foto perfil" >
</span>
</div>

<br>
<br>

<div class="contenedor_alado colordefondo">

  <div class="container-fluid card colordefondo">
    <div class="contenedor_alado colordefondo">
    <div class="colordefondo">

    <h1 class="letraParaNegra">Jorge H. Zimmermann</h1>
    <h5 class="letraParaNegra">Analista de Sistemas</h5>
    <h5 class="letraParaNegra">Data Analyst</h5>
    <h5 class="letraParaNegra">Data Scientist</h5>
    <h5 class="letraParaNegra">Full Stack Developer</h5>
    <br>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary colorBordeBoton letraParaNegra">Tengo interes en</button>
        <button type="button" class="btn btn-secondary colorBordeBoton letraParaNegra">Añadir seleccion</button>
        <button type="button" class="btn btn-secondary colorBordeBoton letraParaNegra">Mas</button>
    </div>
    </div>

    </div>

  </div>
</div>

<br>