
<div class="container-fluid card">
    <div class="container-absolute card">
      <img class="img-fluid" src="https://placekitten.com/g/1500/150" alt="portada/banner">
    </div>
  </div>

<div class="contenedor_alado">

  <div class="container-fluid card">
    <div class="contenedor_alado">
    <div class="container-fluid card">
    <div>
        <img class="img-fluid rounded-circle" src="https://placekitten.com/g/150/150" alt="foto perfil" >
    </div>
    <h1>Jorge H. Zimmermann</h1>
    <h5>Analista de Sistemas</h5>
    <h5>Data Scientist</h5>
    <h5>Full Stack Developer</h5>
  </div>
    <div>
      <img class=""
      src="https://github.com/Zimmer95/PortfolioFrontend/blob/main/portfolio/img/imagenargenprograma.jpg?raw=true"
      alt="Argentina Programa" width="200" height="100">
      <img class=""
      src="https://github.com/Zimmer95/PortfolioFrontend/blob/main/portfolio/img/imagencoder.jpg?raw=true"
      alt="Coderhouse" width="200" height="100">
      <img class="img-fluid" src="https://placekitten.com/g/150/50" alt="Silicon Misiones">
    </div>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary">Tengo interes en</button>
        <button type="button" class="btn btn-secondary" >Añadir seleccion</button>
        <button type="button" class="btn btn-primary" >Mas</button>
    </div>
  </div>
</div>
