<div class="container-fluid card colordefondo">
    <h2 class="letraParaNegra">
        Educacion
    </h2>
    <div class="colordefondo contenedor_alado posicionDerecha">
        <div class="p-2 g-col-6 colordefondo bordeRedondeado" href="www.google.com"><img class="bordeRedondeado"
          src="https://github.com/Zimmer95/PortfolioFrontend/blob/main/portfolio/img/argentinaPrograma.png?raw=true"
          alt="Argentina Programa" width="150" height="50" ></div>
        <div class="p-2 g-col-6 colordefondo bordeRedondeado"><img class="bordeRedondeado"
          src="https://github.com/Zimmer95/PortfolioFrontend/blob/main/portfolio/img/imagenCoder2.jpg?raw=true"
          alt="Coderhouse" width="150" height="50"></div>
        <div class="p-2 g-col-6 colordefondo bordeRedondeado"> <img class="bordeRedondeado" src="https://github.com/Zimmer95/PortfolioFrontend/blob/main/portfolio/img/imagenSilicon.png?raw=true"
          alt="Silicon Misiones" width="150" height="50"></div>
        <div class="p-2 g-col-6 colordefondo bordeRedondeado"><img class="bordeRedondeado" src="https://github.com/Zimmer95/PortfolioFrontend/blob/main/portfolio/img/imagenDatalytics.png?raw=true"
          alt="datalytics" width="150" height="50"></div>
    </div>
    <br>
    <br>
    <div class="contenedor_alado colordefondo ">
        <h6 class="letraParaNegra">
            Estudiante de Analista de Sistemas en IPET 1308, autodidacta, software developer
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe earum laudantium numquam aut voluptates cumque impedit, beatae dolorum excepturi est esse expedita dignissimos sint itaque vel tempora at dolore culpa.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi debitis odio unde voluptatem et accusamus commodi maxime doloremque asperiores totam esse fugiat dolorum voluptates vel obcaecati, dicta pariatur, est quam.
            
        </h6>
    </div>
  
  </div>
  <br>